<tr>
  <td><%= Russian::strftime(item.DAT.to_date, "%d %B %Y") if item.DAT  %></td>
  <td><%= item.RSUM %></td>
  <td><%= item.S %></td>
  <td><%= item.NAMEPO %></td>
  <td><%= item.NAZN %></td>
</tr>