  <div class="row-fluid">
    <div class="span2">
      <%= link_to Russian::strftime(dat - 1.day, "%d %B %Y"), implementation_prev_day_url(:dat => dat), remote: true, :id => "prev_day" %>
    </div>
    <div class="span8">
      <ul class="years ul_days">
        <li><%= link_to Russian::strftime(Time.now - 1.day, "%d %B %Y"), implementation_url()%></li>
        <li><%= link_to_unless_current Russian::strftime(Time.now - 2.day, "%d %B %Y"), implementation_url(:day => 1)%></li>
        <li><%= link_to_unless_current Russian::strftime(Time.now - 3.day, "%d %B %Y"), implementation_url(:day => 2)%></li>
        <li><%= link_to_unless_current Russian::strftime(Time.now - 4.day, "%d %B %Y"), implementation_url(:day => 3)%></li>
      </ul>
    </div>

    <div class="span2">
      <%= link_to Russian::strftime(dat + 1.day, "%d %B %Y"), implementation_next_day_url(:dat => dat), remote: true, :id => "next_day" %>
    </div>
  </div>
  <% if implementations.first %>
      <h3>Реализация продукции  - <%= Russian::strftime(implementations.first.DAT.to_date, "%d %B %Y")%></h3>
  <% end %>
  <table class="table table-hover">
    <tr>
      <th>Наименование</th>
      <th>Реализация за день</th>
      <th>Реализация с начала месяца</th>
      <th>Реализация c начала года</th>
    </tr>

    <%= render :partial => "implementation/implementation_item", :collection => implementations, :as => :item  %>
  </table>
</div>
