<% if current_user.admin? %>
<div class="span12">
  <ul class="years">
    <% @m.each do |year| %>
        <li><%= link_to_unless_current year, implementation_url(:year => year)%></li>
    <% end %>
  </ul>
  <br/>
  <br/>
  <ul class="years ul_days">
   <li><%= link_to_unless_current "Сегодня", implementation_url()%></li>
   <li><%= link_to_unless_current 'Два дня назад', implementation_url(:day => 1)%></li>
   <li><%= link_to_unless_current 'Три дня назад', implementation_url(:day => 2)%></li>
   <li><%= link_to_unless_current 'Четыре дня назад', implementation_url(:day => 3)%></li>
  </ul>
  <br/>
  <br/>
  <h3>Реализация продукции  - <%= Russian::strftime(@implementations.first.DAT.to_date, "%d %B %Y")%></h3>
  <table class="table table-hover">
    <tr>
      <th>Наименование</th>
      <th>Реализация за день</th>
      <th>Реализация с начала месяца</th>
      <th>Реализация c начала года</th>
    </tr>

    <%= render :partial => "implementation/implementation_item", :collection => @implementations, :as => :item  %>
  </table>
    </div>
<% else %>
    <h2>Недостаточно прав</h2>
<% end %>