<% if current_user.admin? %>
<div class="span12">

  <ul class="years">
  <% @m.each do |year| %>
  <li><%= link_to_unless_current year, plan_url(:year => year)%></li>
  <% end %>
  </ul>
  <br/>
  <br />
  <ul class="years ul_days">
    <li><%= link_to Russian::strftime(Time.now - 1.day, "%d %B %Y"), plan_url()%></li>
    <li><%= link_to_unless_current Russian::strftime(Time.now - 2.day, "%d %B %Y"), plan_url(:day => 1)%></li>
    <li><%= link_to_unless_current Russian::strftime(Time.now - 3.day, "%d %B %Y"), plan_url(:day => 2)%></li>
    <li><%= link_to_unless_current Russian::strftime(Time.now - 4.day, "%d %B %Y"), plan_url(:day => 3)%></li>
  </ul>  <br/>
  <br/>
  <% if @plans.first %>
      <h3>Выполнение плана - <%= Russian::strftime(@plans.first.DAT, "%d %B %Y") %></h3>
  <% end %>
<table id="accordion-plan" class="table table-hover scrol">
  <tr>
    <th>Наименование</th>
    <th>План на месяц</th>
    <th>План нарастающий</th>
    <th>Факт нарастающий</th>
    <th>Дневная выработка</th>
    <th>Остатки</th>

  </tr>
  <%= render :partial => "plan/plan_item", :collection => @plans, :as => :item  %>
</table>
<%#= will_paginate @plans, :class => "flickr_pagination", :next_label => ">>", :previous_label => "<<" %>
</div>
<% else %>
    <h2>Недостаточно прав</h2>
<% end %>


